<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <main>
      <div class="container">
        <img src="/images/pokebola.jpg" alt="pokemon" class="pokebola" />
        <img src="/images/pokedex.png" alt="pokedex" class="pokedex" />
        <h1 class="titulo">pesquisar</h1>
        <form action="/pokedex" method="get">
          <input
            type="text"
            placeholder="ID ou Nome"
            class="pokeInput"
            name="Pokemon"
          />
        </form>
      </div>
    </main>
  </body>
</html>
